# Copy to /etc/erp_sync.env on each instance and adjust values
# Permissions: chown root:ubuntu; chmod 640
ERP_ENCRYPT_PASSPHRASE=ChangeThisToAStrongRandomPassphrase
ERP_DB_USER=erp_sync
ERP_DB_PASS=REPLACE_ME
ERP_DB_NAME=erpdb
ERP_REMOTE_DB_HOST=172.31.7.100
ERP_ALERT_EMAIL=
ERP_S3_BUCKET=s3://erpbucket-s3
AWS_DEFAULT_REGION=us-east-1
